nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .nav-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 325px;

        

         @media (min-width: 0px) and (max-width: 570px) {
           
            width: auto;
        }

    }

    //  @media (min-width: 0px) and (max-width: 570px) {
    //        justify-content: space-between
    //     }
}