nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-row {
        display: flex;
        align-items: center;

        .search-input{
            border: none;
            background-color: var(--bg-2);
            padding: 12px 20px;
            border-radius: 30px;
            height: 40px;
            font-size: 16px;
            margin-right: 10px;
            &:focus{
                outline: none;
            }
        }
    }
}