.addButton {
    background-color: var(--primaryBlue);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    font-size: 15px;

    span{
        margin-left: 10px;
    }

    // @media (min-width: 0px) and (max-width: 555px) {
    //     padding: 10px;
    //     border-radius: 100%;
    //     align-items: center;
        
       

       
    // }
}


