.ant-modal-body {
    padding: 0;
}

.textarea {
    display: block;
    width: 100%;
    border: none;
    resize: none;
    font-size: 16px;
    height: 100%;
    font: inherit;

    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.errorMessage{
    color: red;
    background: rgba(255, 77, 79, .2);
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    display: block;
}

.modal-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button{
        padding: 4px 14px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        
    }
    .cancel-button{
        margin-right: 5px;
       
        background: none;
    }
    .submit-button{
        background: var(--primaryBlue);
        color: var(--white);
    }
    .submit-button-disabled{
        background: #e2e2e2;;
    }
}
